:root {
  --font-size: 16px;
  --font-size-smaller: 0.875rem;
  --font-size-smallest: 0.75rem;

  --body-font-weight: 400;
  --body-background: white;
  --body-background-tint: transparent;
  --body-font-color: black;

  --border-radius: 0.25rem;

  // Used in layout
  --space-1: 1px;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-16: 1rem;

  --body-min-width: 20rem;
  --container-max-width: 90rem;

  --menu-width: 16rem;
  --toc-width: 16rem;
}

// Themes
@mixin theme-light { // made to look like 'browser default'
  --body-background: white;
  --body-background-tint: none;
  --body-font-color: black;

  --color-link: #0055bb;
  --color-visited-link: #5500bb;

  --icon-filter: none;

  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-accent-default: #64748b;
  --color-accent-note: #4486dd;
  --color-accent-tip: #3bad3b;
  --color-accent-important: #8144dd;
  --color-accent-warning: #f59e42;
  --color-accent-caution: #d84747;

  // Fallback for {{< hint >}} shortcodes
  --color-accent-info: #4486dd;
  --color-accent-success: #3bad3b;
  --color-accent-danger: #d84747;
}

@mixin theme-dark { // based on https://www.nordtheme.com/
  --body-background: #2e3440;
  --body-background-tint: none;

  --body-font-color: #eceff4;

  --color-link: #81a1c1;
  --color-visited-link: #b48ead;

  --icon-filter: brightness(0) invert(1);

  --gray-100: #3b4252;
  --gray-200: #434c5e;
  --gray-500: #d8dee9;

  --color-accent-default: #81a1c1;
  --color-accent-note: #5e81ac;
  --color-accent-tip: #a3be8c;
  --color-accent-important: #b48ead;
  --color-accent-warning: #d08770;
  --color-accent-caution: #bf616a;

  // Fallback for {{< hint >}} shortcodes
  --color-accent-info: #5e81ac;
  --color-accent-success: #a3be8c;
  --color-accent-danger: #bf616a;
}

@mixin theme-auto {
  @include theme-light;

  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }
}
