@import 'variables';

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: Roboto, sans-serif;
  font-weight: $body-font-weight;
}

.pure-g {
  [class *= "pure-u"] {
    box-sizing: border-box;
    padding: $padding-16;
  }
}

@media screen and (max-width:64em) {
  .pure-hidden-md {
    display: none;
  }
}
