.flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}

@mixin fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden auto;
}

.hide {
  display: none;
}
