$padding-1: 1px; //minimal
$padding-4: .25rem;
$padding-8: .5rem;
$padding-16: 1rem;

$font-size-base: 16px;
$font-size-12: .75rem;
$font-size-14: .875rem;
$font-size-16: 1rem;

$size-48: 3rem;
$size-56: 3.5rem;
$size-72: 4.5rem;

// Grayscale
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$color-link: #1177EE;
$color-visited-link: #7823c9;

$body-line-height: 1.75;
$body-min-width: 25rem;
$content-max-width: 64rem;
$content-min-width: $body-min-width;
$nav-menu-width: 18rem;
$toc-menu-width: 14rem;