{{- $href := partial "docs/links/portable-link" (dict "Page" .Page "Destination" (.Get "href")) -}}
{{- $isRemote := (urls.Parse $href).IsAbs -}}
{{- $attributes := partial "docs/text/mapper" (dict
  "attributes" (cond .IsNamedParams .Params dict)
  "set" (dict
    "href" $href
    "target" "_blank"
    "rel" "noopener"
  )
  "merge" (dict
    "class" "book-btn"
  )
  "delete" (cond $isRemote (slice) (slice "target" "rel"))
) -}}
<a {{ partial "docs/html-attrs" $attributes | safeHTMLAttr }}>
  {{- .InnerDeindent -}}
</a>
{{- /* remove whitespaces */ -}}
