{{- /* remove whitespace */ -}}
{{- with .Get "href" -}}
{{- $destination := partial "docs/links/portable-link" (dict "Page" $.Page "Destination" .) -}}
<a class="book-card{{ with $.Get "class" }} {{ . }}{{ end }}" href="{{ $destination | safeURL }}">
{{- template "book-card-content" $ -}}
</a>
{{- else -}}
<div class="book-card{{ with .Get "class" }} {{ . }}{{ end }}">
{{- template "book-card-content" $ -}}
</div>
{{- end -}}

{{- define "book-card-content" -}}
{{- with .Get "image" -}}
  {{- $destination := partial "docs/links/portable-image" (dict "Page" $.Page "Destination" .) -}}
  <img src="{{ $destination | safeURL }}" />
{{- end }}
  <div class="markdown-inner">
  {{ with .InnerDeindent }}{{ . }}{{ end }}
  </div>
{{- end -}}
{{- /* remove whitespace */ -}}
