/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";
// @import "plugins/themes";

@import "plugins/themes";

.book-hero {
  min-height: $padding-16 * 24;
  align-content: center;

  h1 {
    font-size: 3em;
  }
}